<?xml version="1.0" encoding="utf-8"?>

<configuration>
   <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
   </startup>
   <system.serviceModel>
      <behaviors>
         <serviceBehaviors>
            <behavior name="DiskInfoBehavior">
               <serviceMetadata httpGetEnabled="true"/>
            </behavior>
         </serviceBehaviors>
      </behaviors>
      <services>
         <service name="DiskInfoWcfLib.DiskInfo"  behaviorConfiguration="DiskInfoBehavior">
            <endpoint address="http://localhost/DiskInfoService" binding="wsHttpBinding"
                      bindingConfiguration="" name="DefaultEndPoint" contract="DiskInfoWcfLib.IDiskInfo" />
            <endpoint binding="mexHttpBinding" bindingConfiguration="" name="MexEndPoint"
                      contract="DiskInfoWcfLib.IDiskInfo" />
            <host>
               <baseAddresses>
                  <add baseAddress="http://localhost/DiskInfo" />
               </baseAddresses>
            </host>
            
         </service>
      </services>
   </system.serviceModel>
</configuration>