<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="DefaultEndPoint" />
                <binding name="MexEndPoint">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DiskInfoService" binding="wsHttpBinding"
                bindingConfiguration="DefaultEndPoint" contract="IDiskInfo"
                name="DefaultEndPoint">
                <identity>
                    <userPrincipalName value="DESKTOP-PAVEL\pavel" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/DiskInfo" binding="wsHttpBinding"
                bindingConfiguration="MexEndPoint" contract="IDiskInfo" name="MexEndPoint" />
        </client>
    </system.serviceModel>
</configuration>