USE [master]
GO
/****** Object:  Database [PhoneStore]    Script Date: 01.09.2015 16:09:09 ******/
CREATE DATABASE [PhoneStore] ON  PRIMARY 
( NAME = N'PhoneStore', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\PhoneStore.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PhoneStore_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\PhoneStore_log.LDF' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhoneStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhoneStore]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 01.09.2015 16:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Login] [nchar](20) NOT NULL,
	[Password] [nchar](15) NOT NULL,
	[Email] [nchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UsersInfo]    Script Date: 01.09.2015 16:09:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersInfo](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[LastName] [nchar](20) NOT NULL,
	[FirstName] [nchar](50) NOT NULL,
	[Adres] [nchar](150) NULL,
	[Phone] [nchar](40) NULL,
	[Code] [int] NOT NULL,
	[UserId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password], [Email]) VALUES (1, N'KIN                 ', N'1111           ', N'kin@mail.by         ')
INSERT [dbo].[Users] ([Id], [Login], [Password], [Email]) VALUES (2, N'Fox                 ', N'test           ', N'Fox @mail.by        ')
INSERT [dbo].[Users] ([Id], [Login], [Password], [Email]) VALUES (3, N'SunKot              ', N'852632         ', N'Sun@mail.by         ')
SET IDENTITY_INSERT [dbo].[Users] OFF
SET IDENTITY_INSERT [dbo].[UsersInfo] ON 

INSERT [dbo].[UsersInfo] ([Id], [LastName], [FirstName], [Adres], [Phone], [Code], [UserId]) VALUES (20, N'Liza                ', N'Ivanova                                           ', N'Grodno                                                                                                                                                ', N'+37529741235                            ', 123565, 2)
INSERT [dbo].[UsersInfo] ([Id], [LastName], [FirstName], [Adres], [Phone], [Code], [UserId]) VALUES (21, N'Alex                ', N'Smirnov                                           ', N'Brest                                                                                                                                                 ', N'                                        ', 34532423, 3)
INSERT [dbo].[UsersInfo] ([Id], [LastName], [FirstName], [Adres], [Phone], [Code], [UserId]) VALUES (22, N'Vova                ', N'Sidorov                                           ', N'                                                                                                                                                      ', N'+37529865421                            ', 356321, 4)
SET IDENTITY_INSERT [dbo].[UsersInfo] OFF
ALTER TABLE [dbo].[UsersInfo]  WITH CHECK ADD  CONSTRAINT [FK_UsersInfo_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UsersInfo] CHECK CONSTRAINT [FK_UsersInfo_Users]
GO
USE [master]
GO
