USE [master]
GO
/****** Object:  Database [People]    Script Date: 01.09.2015 16:06:07 ******/
CREATE DATABASE [People] ON  PRIMARY 
( NAME = N'People', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\People.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'People_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\People_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [People].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [People]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 01.09.2015 16:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Persons](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](10) NULL,
	[SUBJECT] [varchar](20) NULL,
	[SALARY] [float] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Persons] ON 

INSERT [dbo].[Persons] ([Id], [NAME], [SUBJECT], [SALARY]) VALUES (23, N'Ivan', N'C# .NET', 200.2)
INSERT [dbo].[Persons] ([Id], [NAME], [SUBJECT], [SALARY]) VALUES (24, N'Igor', N'C++', 280.8)
INSERT [dbo].[Persons] ([Id], [NAME], [SUBJECT], [SALARY]) VALUES (25, N'Alex', N'Java', 150.9)
SET IDENTITY_INSERT [dbo].[Persons] OFF
/****** Object:  StoredProcedure [dbo].[GetSalaries]    Script Date: 01.09.2015 16:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSalaries]
	@InSalary float
AS
	SELECT P.NAME, P.SUBJECT from Persons as P
	   where p.SALARY>=@InSalary
GO
/****** Object:  StoredProcedure [dbo].[GetSalaryByName]    Script Date: 01.09.2015 16:06:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetSalaryByName]
	@Name char(10),
	@Salary float output
AS
	SELECT @Salary = P.SALARY from Persons as P
	   where P.NAME=@Name
GO
USE [master]
GO
