<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="DefaultEndPoint" />
                <binding name="MexEndPoint">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/DiskInfoService" binding="wsHttpBinding"
                bindingConfiguration="DefaultEndPoint" contract="ServiceReference.IDiskInfo"
                name="DefaultEndPoint">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-PAVEL" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost/DiskInfo" binding="wsHttpBinding"
                bindingConfiguration="MexEndPoint" contract="ServiceReference.IDiskInfo"
                name="MexEndPoint" />
        </client>
    </system.serviceModel>
</configuration>